.status__wrapper {
    font-size: 18px;
    margin-bottom: 20px;
    width: 540px;
    line-height: 27px;
}

.input__wrapper {
    width: 100%;
    padding: 15px 15px;
    background-color: #f8f9fa;
}

.input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    font-size: 18px;
}