.my__posts {
    display: block;
    max-width: 100%;
    padding: 30px 20px;
    background-color: #ffffff;
}
.header {
    font-size: 30px;
    /* margin-top: 15px; */
    font-weight: 500;
    padding-left: 10px;
}
.posts{
    margin: 80px 0;
    /*width: 700px;*/
    width: 54vw;
}


