.newMessageForm {
    display: block;
    width: 100%;
}
.newMessageInput {
    width: 82%;
    background-color: #ffffff;
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    height: 45px;
    border-radius: 3px;
    outline: none;
}
.submitBtn {
    width: 100px;
    background-color: #e44d3a;
    height: 36px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    /*margin: 10px 0 0 15px;*/
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    display: block;
    margin: 10px 20% 0 auto;
}