.header {
    grid-area: header;
    background-color: #212529;
    padding: 8px 20px;
    max-width: 100%;
}
.logo {
    width: 58px;
    height: auto;
}
.login__wrapper {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    padding: 6px 12px;
    color: #ffffff;
    margin: 4px 1rem 0 1rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
/*.login__text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    padding: 6px 12px;
    color: #ffffff;
    margin: 0 1rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
}
.login_btn__wrapper {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    float: right;
    padding: 6px 12px;
    color: #ffffff;
    margin: 0 1rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
}*/
/*.login__wrapper:hover {
    border-color: #b2b2b2;
}*/
/*
.login__link:hover {
    color: #b2b2b2;
}*/
