.header {
    grid-area: header;
    background-color: #212529;
    padding: 8px 20px;
    max-width: 100%;
}
.logo {
    width: 58px;
    height: auto;
}
.login__wrapper {
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: #ffffff;
    /*margin: 4px 1rem 0 1rem;*/
    margin: 12px 6px 0px 0px;
}
.login__wrapper .login__link {
    border: 1px solid #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.login__wrapper .user__name {
    border: 1px solid #ffffff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
}
.login__wrapper .logout_elem {
    outline: none;
    border: none;
    text-decoration: underline;
    background-color: #212529;
    color: #bfbfbf;
    margin-left: 12px;
    cursor: pointer;
    font-size: 14px;
}
