.info__wrapper{
    display: flex;
    padding: 30px 40px;
    background-color: #ffffff;
    margin: 13px 0;
}

.info__wrapper .ava {
    position: relative;
    width: 250px;
    height: 250px;
    /* border: 1px solid #000000; */
    border-radius: 30px;
    /* background:  no-repeat center/centerurl('https://scrapmania.ru/i/img/shop/b/94/98/5_/94985_1459937129_35800.jpg');  */
    /* background-image: url("https://scrapmania.ru/i/img/shop/b/94/98/5_/94985_1459937129_35800.jpg");
    background-position: center center;
    background-size: cover; */
}
.info__wrapper .ava  img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
/* .profile .ava {
  width: 100%;
  border-radius: 30px;
} */
.info__wrapper .info {
    padding: 0 50px;
    min-width: 400px;
}
.info__wrapper .info .name {
    font-size: 40px;
    font-weight: 500;
    line-height: 70px;
}
/* .profile .info__wrapper .info span {
   color: #a8a8a8;
   margin-right: 10px;
} */
.file_label {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid black;
    left: 4px;
    bottom: -34px;
}
.file_label .file_input {
    display: none;
}
.file_label .line1 {
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}
.file_label .line2 {
    content: '';
    display: block;
    width: 2px;
    height: 14px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}
.edit_btn {
    width: 44px;
    height: 26px;
    font-size: 14px;
    background-color: #e44d3a;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    color: #fff;
    border: 0;
    cursor: pointer;

    /*width: 86px;*/
    /*position: absolute;*/
    /*left: 30px;*/
    /*bottom: -34px;*/
}
